.card-warapper {
  background-color: var(--color-dark);
  border-radius: calc(var(--border-radius-primary) / 2);
  padding: calc(var(--padding-primary) / 2);
  margin-top: calc(var(--margin-primary) / 4);
}

.most-popular-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
